<form class="ui form error" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="field">
        <app-input-form
            label="Username"
            [control]="username"
        >
        </app-input-form>
    </div>
    <div class="field">
        <app-input-form
            label="Password"
            [control]="password"
            type="password"
        >
        </app-input-form>
    </div>
    <div class="field ui red basic label" *ngIf="loginForm.errors?.['incorrectCredentials']">
        <p>Incorrect Credentials</p>
    </div>
    <div>
        <button class="ui submit button primary" [disabled]="loginForm.invalid">Login</button>
    </div>
</form>